* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --main-color: #008148;
  --second-color: #1e3932;
}

.wrapper {
  width: 100%;
}

section {
  position: relative;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  padding: 5px 22.5px;
  border-radius: 40px;
}
header ul li a:hover {
  border-radius: 40px;
  color: #fff;
  background: #017143;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textbox {
  position: relative;
  max-width: 600px;
  width: 100%;
}
.content .textbox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4;
  font-weight: 500;
}
.content .textbox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textbox p {
  color: #333;
}
.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .textbox a:hover {
  background: #333;
}
.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.content .imgBox img {
  max-width: 340px;
}
.thumb {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 60px;
}
.sci {
  position: absolute;
  top: 51%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}

.toggle {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(./images/menu.png);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  z-index: 6;
  cursor: pointer;
  filter: invert(-1);
}
.toggle.active {
  background: url(./images/close.png);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .toggle {
    display: block;
  }

  section {
    padding: 20px 20px 120px;
    /* padding-bottom: 140px; */
  }
  header {
    padding: 20px;
  }
  header .logo {
    /* position: relative; */
    max-width: 60px;
  }
  header ul {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(./images/menu.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    z-index: 6;
    cursor: pointer;
    filter: invert(-1);
  }
  .toggle.active {
    background: url(./images/close.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
  .content {
    flex-direction: column;
    margin-top: 100px;
  }

  .content .textBox {
    position: relative;
    max-width: 100%;
    padding-right: 20px;
  }

  .content .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .circle {
    clip-path: circle(400px at center bottom);
  }

  .content .imgBox {
    max-width: 100%;
    justify-content: center;
  }
  .content .imgBox img {
    max-width: 280px;
  }
  .thumb li img {
    max-width: 50px;
  }
  .sci {
    right: 0;
    width: 50px;
    background: #017143;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    z-index: 5;
  }
}

img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #333;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background-color: #ebdbc8;
  gap: 1rem;
}

.home-text {
  flex: 1 1 17rem;
}

.home-img {
  flex: 1 1 17rem;
}

.home-img img {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }

  50% {
    transform: translate(-0px, 11px);
  }

  100% {
    transform: translate(-11px, 0);
  }
}

.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e3932;
}

.home-text h1 {
  font-size: 3.2rem;
  color: #017143;
  font-weight: bolder;
}

.home-text h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #1e3932;
  text-transform: capitalize;
  margin: 0.5rem 0 1.4rem;
}

.btn {
  padding: 7px 16px;
  border: 2px solid #1e3932;
  border-radius: 100px;
  color: #1e3932;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: #1e3932;
}

.heading {
  text-align: center;
}

.heading span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}

.heading h1 {
  font-size: 2rem;
  color: var(--main-color);
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}

.shop-container .box {
  flex: 1 1 10rem;
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.shop-container .box .box-img {
  width: 150px;
  height: 150px;
  margin-top: -100px;
}

.shop-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.stars {
  margin: 1rem 0 0.1rem;
}

.shop-container .box h2 {
  color: #ebdbc8;
  font-size: 1.2rem;
}

.shop-container .box span {
  color: #ebdbc8;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}

.box .btn {
  border: 2px solid #ebdbc8;
  color: #ebdbc8;
}

.box .btn:hover {
  background-color: #ebdbc8;
  color: var(--second-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.delivery-img,
.app-img {
  flex: 1 1 21rem;
}

.delivery-text,
.app-text {
  flex: 1 1 21rem;
}

.delivery-text h2,
.app-text h2 {
  font-size: 1.2rem;
  color: var(--second-color);
}

.delivery-text p,
.app-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: #ebdbc8;
  gap: 1.5rem;
  flex-direction: row;
}

.about-img {
  flex: 1 1 17rem;
}

.about-text {
  flex: 1 1 17rem;
}

.about-text h2 {
  font-size: 1.2rem;
  color: var(--second-color);
}

.about-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social a {
  font-size: 27px;
  margin: 0.5rem;
  text-decoration: none;
}

.social a i {
  padding: 5px;
  color: #fff;
  background: black;
  border-radius: 50%;
}

.social a i:hover {
  background-color: var(--main-color);
}

.links {
  margin: 1rem 0 1rem;
}

.links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
  padding: 1rem;
}

.links a:hover {
  color: var(--main-color);
}

.contact p {
  text-align: center;
}

@media (max-width: 1150px) {
  header {
    padding: 18px 7%;
  }

  section {
    padding: 50px 7%;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-text h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  section {
    padding: 50px 4%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }

  #menu-icon {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 4px rgb(144, 55, 55 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
    color: var(--second-color);
  }

  .home-text {
    padding-top: inherit;
  }

  .home-text span {
    font-size: 0.9rem;
  }

  .home-text h1 {
    font-size: 2.4rem;
  }

  .home-text h2 {
    font-size: 1.2rem;
  }

  .shop-container .box {
    margin-top: 6rem;
  }

  .heading h1 {
    font-size: 1.5rem;
  }

  .heading span {
    font-size: 0.9rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .content .textbox h2 {
    font-size: 3em;
  }

  .content .textbox span {
    font-size: 1em;
  }
}

@media (max-width: 364px) {
  .links {
    display: flex;
    flex-direction: column;
  }
}
