* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #008148;
  --second-color: #1e3932;
}

section {
  padding: 50px 10%;
}

img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #333;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ebdbc8;
  gap: 1rem;
}

.home-text {
  flex: 1 1 17rem;
}

.home-img {
  flex: 1 1 17rem;
}

.home-img img {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }

  50% {
    transform: translate(-0px, 11px);
  }

  100% {
    transform: translate(-11px, 0);
  }
}

.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e3932;
}

.home-text h1 {
  font-size: 3.2rem;
  color: #017143;
  font-weight: bolder;
}

.home-text h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #1e3932;
  text-transform: capitalize;
  margin: 0.5rem 0 1.4rem;
}

.btn {
  padding: 7px 16px;
  border: 2px solid #1e3932;
  border-radius: 100px;
  color: #1e3932;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: #1e3932;
}
