* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

img {
  width: 100%;
}

:root {
  --main-color: #008148;
  --second-color: #1e3932;
}

.container-title {
  margin: 30px 0px;
}

.main-title {
  font-size: 13px;
  color: #7f7f90;
  opacity: 0.7;
  letter-spacing: 1px;
  text-align: center;
}

.sub-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.span-title {
  color: var(--main-color);
}


.wrapper {
  width: 100%;
}

section {
  position: relative;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}



header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}


header .logo {
  position: relative;
  max-width: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  padding: 5px 22.5px;
  border-radius: 40px;
}

header ul li a:hover {
  border-radius: 40px;
  color: #fff;
  background: #017143;
}

/*-----------------------*/
.container-hero {
  margin-top: 50px;
}

.sub-hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  text-align: left;
  justify-content: center;
}

.img-hero {
  border-radius: 50%;
  overflow: hidden;
  width: 40%;
}

.text-hero h2 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--main-color);
}

.text-hero p {
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
}

.sub-text-hero {
  margin-top: 40px;
  display: flex;
}

/* css cho thẻ a đầu tiên */
.sub-text-hero a:first-of-type {
  text-decoration: none;
  color: #fff;
  background-color: #0d5516db;
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 50px
}

.sub-text-hero a:last-of-type {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.sub-text-hero a:last-of-type i {

  margin-right: 15px;
  font-size: 50px;

}

/*-----------------------*/

.container-about {
  background: #cccccc54;
}

.sub-container-about {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.sub-about {
  margin: 40px 20px;
  display: flex;
  flex-wrap: nowrap;
}

.about-learnmor {
  display: inline-block;
  padding: 12px;
  background: #008148;
  border-radius: 20px;
  margin: 20px;
}

.about-learnmor a {
  text-decoration: none;
  color: #fff;
}

.sub-about-1 {
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  flex: 2;
  margin: 20px;
}

.sub-about-text h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-left: 15px;
}

.sub-about-text {
  background: #00968873;
  border-radius: 4px;
}

.sub-about-text p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.3;
  margin-left: 15px;
}

.sub-about-2 {
  flex: 5;
  display: flex;

}

.text-icon {
  color: var(--color-primary);
  font-size: 32px;
  margin-bottom: 30px;
  background: rgb(120 102 65 / 16%);
  border-radius: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  color: #008148;
}

.sub-about2-text {
  margin: 20px 10px;
  background-color: #00968814;
  border-radius: 10px;
}

.sub-about2-text h4 {
  margin: 18px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.sub-about2-text p {
  text-align: center;
  margin: 31px 24px;
  line-height: 1.9;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
}

.sub-about2-text:hover {
  /* phóng to */
  transform: scale(1.1);
  text-align: center;
  transition: 0.3s;
}

.icon-center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*--------------------------------------------*/

.about-sales {
  /*linear-gradient là chuyển dải màu*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/coffe2.webp) center center;
  /* ảnh phù toàn bộ*/
  background-size: cover;
  padding: 70px 0;
  height: 100%;
  overflow: hidden;
}

.sub-container-about{
  width: 100%;
}

.sales-container {
  opacity: 1;
  /* giúp tăng tốc độ hiệu ứng chuyển động.theo trục Z  
    scale(1) chuyển động giữ nguyên kích thước ban đầu*/
  transform: translateZ(0) scale(1);
  /*--hiệu ứng sẽ bắt đầu chậm,
     tăng tốc và sau đó chậm lại trước khi kết thúc----*/
  transition-timing-function: ease-in-out;
  /*--thời gian mà hiệu ứng chuyển động sẽ diễn ra----*/
  transition-duration: 1s;
  /* xác định thuộc tính chuyển động*/
  transition-property: opacity, transform;
}

.sales-sub-container {
  display: flex;
  opacity: 1;
}

.sales-sub-container span {
  color: #fff;
  display: block;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

.sales-sub-container p {
  color: #fff;
  display: block;
  font-size: 25px;
  text-align: center;
  opacity: 0.5;
}

.sales {
  padding: 20px;
}

.sub-sales {
  padding: 50px;
}






/*--------------------------------------------*/
.about-person {
  background-color: #eee;
}

.person-description {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  transition-property: opacity, transform;
}

.sub-person-descripton {

  height: 100%;
  position: relative;
  display: flex;
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  transition-property: transform;
}

.description {
  display: flex;
  margin: 0px 15%;
}

.person-description-left {
  margin-right: 20px;
}

.person-description-left p {
  font-size: 20px;
  font-style: oblique;
}

.person-description-left p>i {
  color: var(--main-color);
}

.person-description-left h3 {
  margin-top: 15px;
  font-size: 22px;
}

.person-description-left h4 {
  opacity: 0.7;
}

.person-star {
  margin-top: 17px;
  color: #e4ba3c;
  ;
}

.person-description-right img {
  border-radius: 50%;
  width: auto;
  max-width: 250px;
}

.person-slider {
  overflow: hidden;
  /*
    flex-grow: 1 để các phần tử con có kích thước bằng nhau
    flex-shink: 0 khi không đủ diện tích thì các phần tử sẽ không co lại
    flex-bassic: 100% để item chiếm 100% thẻ cha
  */
  flex: 1 0 100%;
  height: 100%;
}


.about-icon {
  text-align: center;
}

.cicle-icon.myactive {
  border-radius: 50%;
  background: #009688;
}

.event-header {
  text-align: center;
  letter-spacing: 1.5px;

}


.event-header span {
  color: var(--main-color);
}

.sub-footer-events {
  display: flex;
  margin-top: 30px;
}

.item-event::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.item-event {
  flex: 1;
  flex-shrink: 0;
  background-size: cover;
  min-height: 500px;
  position: relative;
  margin: 0 1px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.item-event h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
}

.item-event p {
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-bottom: 20px;
  font-size: 22px;

}

.item-event h3 {
  margin: 0px 15%;
}

.price-events {
  color: #fff;
  border-bottom: 2px solid var(--main-color);
  font-size: 32px;
  font-weight: 700;
  margin: 15px 15%;
  position: relative;
}


.chefs {
  background-color: #eee;
}

.chefs-header {
  text-align: center;
}

.footer-chefs {
  display: flex;
  margin-bottom: 30px;
}

.member-img {
  position: relative;
  overflow: hidden;
}

.chefs-items {
  flex: 1;
  margin: 10px;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.chefs-items {
  background-color: #fff;
  border-radius: 10px;
}

.social {
  position: absolute;
}

.social a {
  font-size: 27px;
  margin: 0.5rem;
  text-decoration: none;
}

.social a i {
  padding: 5px;
  color: #fff;
  background: black;
  border-radius: 50%;
}

.social a i:hover {
  background-color: var(--main-color);
}


.member-info {
  padding: 10px 20px;
  letter-spacing: 0.5px;

}

.member-info h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0px;
}

.member-info span {
  display: block;
  text-align: center;
  font-size: 15px;
  opacity: 0.7;
  margin-bottom: 25px;
}

.member-info p {
  text-align: center;
  line-height: 1.4;
  font-style: italic;
}

.member-img {
  position: relative;
  overflow: hidden;
}

.member-img img {
  border-radius: 10px 10px 0px 0px;
}

.social {
  display: flex;
  position: absolute;
  z-index: 2;
  opacity: 0;
  right: 0px;
  top: 30px;
  flex-direction: column;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.chefs-items:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition-duration: 0.7s;
}

.chefs-items:hover .social {
  opacity: 0.7;
  right: 20px;
  transition-duration: 1s;
}


.footer-book {
  display: flex;
  margin: 65px 30px 30px 0px;
}

.sub-footer-bookleft {
  flex: 1;
}

.sub-footer-bookright {
  flex: 3;
  background-color: #eee;
}

.form-book {
  padding: 40px;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.contain-input {
  margin: 15px 0px;
  max-width: 100%;
  padding: 0 15px;
}

.contain-input input {
  padding: 15px 40px;
}

.form-control {
  font-size: 15px;
  width: 100%;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
}

.form-group {
  margin: 5px 15px;
}

.form-group textarea {
  padding: 10px;
}

.contain-input input:focus {
  outline: none;
  border-color: var(--main-color) !important;
}

.form-group textarea:focus {
  outline: none;
  border-color: var(--main-color) !important;
}

.text-center {
  text-align: center;
}

.button-submit {
  margin-top: 40px;
}

.button-submit button {
  border: none;
  background: #2f8c3ad4;
  color: #fff;
  padding: 20px 60px;
  border-radius: 50px;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

.button-submit button:hover {
  background-color: #2f8c3a;
}

.container-contact {
  width: 100%;
}

.map-contact {
  margin-top: 70px;
}

.information-contact {
  display: flex;
  flex-wrap: wrap;
}

.if-row {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  margin-top: 15px;
  padding: 0px 10px;
}

.info-item {
  background: #f4f4f4;
  padding: 30px;
  height: 100%;
  align-items: center;
  display: flex
}

.info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: #fff;
  background: var(--main-color);
  border-radius: 50%;
  margin-right: 15px;
}

.info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
  line-height: 1.2;
}

.info-item p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}

.form-contact {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.form-contact-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: space-between;

}

.contact-input {
  flex: 0 0 auto;
  width: 49%;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.input-height {
  height: 48px;
}

.input-control {
  box-shadow: none;
  display: block;
  width: 100%;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.input-control:focus {
  outline: none;
  border-color: var(--main-color) !important;
}

.form-subject {
  padding-bottom: 20px;
}

.form-subject textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;

}

.text-center {
  text-align: center;
}

.text-center button {
  background: var(--main-color);
  border: 0;
  padding: 12px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
}

.footer {
  font-size: 14px;
  background-color: #1f1f24;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);
}

.container-footer {
  width: 100%;
  padding: 0 50px;
}

.sub-container-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

}

.footer-item {
  display: flex;
  flex: 0 0 auto;
  width: 25%;
  max-width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.footer-item h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  color: #fff;
}

.footer-item i {
  margin-right: 15px;
  font-size: 24px;
}

.container-ft {
  margin-top: 50px;
  text-align: center;
}

.copyright {
  padding-top: 15px;
}

.credits {
  padding-top: 10px;
  font-size: 14px;
}

.credits a {
  text-decoration: none;
  color: #fff;
}

.displex {
  display: flex;
  flex-direction: column;
}

.link-ft i {
  margin: auto;
}

.link-ft a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  text-decoration: none;
}

.link-ft {
  display: flex;
}

/*Màn hình điện thoại:*/
@media(max-width:480px) {
  header {
    padding: 11px 4%;
  }

  #menu-icon {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 4px rgb(144, 55, 55 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
    color: var(--second-color);
  }

  section {
    padding: 20px 10px;
  }

  .sub-about-2 {
    flex-direction: column;
  }

  .sub-about {
    flex-direction: column;
  }

  .sales-sub-container {
    flex-direction: column;
  }

  .sub-footer-events {
    flex-direction: column;
  }

  .footer-chefs {
    flex-direction: column;
  }

  .footer-book {
    flex-direction: column;
    margin: auto;
  }

  .if-row {
    width: 100%;
  }

  .sub-container-footer {
    flex-direction: column;
  }

  .footer-item {
    width: auto;
  }

  .sub-hero {
    flex-direction: column-reverse;
  }

  .text-hero {
    width: auto;
  }

  .img-hero {
    width: auto;
  }

  .sub-text-hero {
    justify-content: center;
  }

  .text-hero h2 {
    font-size: 40px;
  }

  .sub-text-hero a:last-of-type {
    font-size: 15px;
  }

  .sub-text-hero a:last-of-type i {
    font-size: 30px;
  }

  .sub-text-hero a:first-of-type {
    padding: 15px 16px ;
    font-size: 15px;
  }

  .person-description-right img{
    width: 100%;
  }

  .description{
    flex-direction: column;
    margin: 0px 5%;
  }

  .price-events{
    margin: 15px 5%;
  }

  .item-event h3{
    margin: 0px 5%;
  }

  .person-description-right{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .contact-input{
    width: 100%;
  }

  .item-event{
    margin: 10px 1px;
  }

  .person-description{
    margin-top: auto;
  }


}

/*Màn hình máy tính bảng*/
@media  (max-width: 1024px) {
  header {
    padding: 18px 7%;
  }

  section {
    padding: 50px 7%;
  }

  #menu-icon {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 4px rgb(144, 55, 55 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
    color: var(--second-color);
  }

  .sub-about-2 {
    flex-direction: column;
  }

  .sub-about {
    flex-direction: column;
  }

  .sales-sub-container {
    flex-direction: column;
  }

  .sub-footer-events {
    flex-direction: column;
  }

  .footer-chefs {
    flex-direction: column;
  }

  .footer-book {
    flex-direction: column;
    margin: auto;
  }

  .if-row {
    width: 100%;
  }

  .sub-container-footer {
    flex-direction: column;
  }

  .footer-item {
    width: auto;
  }

  .sub-hero {
    flex-direction: column-reverse;
  }

  .text-hero {
    width: auto;
    margin-top: 40px;
  }

  .img-hero {
    width: auto;
  }

  .sub-text-hero {
    justify-content: center;
  }

  .text-hero h2 {
    font-size: 60px;
  }

  .text-hero p{
    font-size: 30px;
  }

  

  .sub-text-hero a:first-of-type {
    padding: 20px 30px;
    font-size: 20px;
  }

  .person-description-right img{
    width: 100%;
  }

  .description{
    flex-direction: column;
    margin: 0px 5%;
  }

  .price-events{
    margin: 15px 5%;
  }

  .item-event h3{
    margin: 0px 5%;
  }

  .person-description-right{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .contact-input{
    width: 100%;
  }

  .item-event{
    margin: 10px 1px;
  }

  .person-description{
    margin-top: 50px;
  }

  .contain-input{
    width: 100%;
  }

  .about-icon{
    margin-top: 50px;
  }

}


/*Màn hình desktop*/
@media (min-width: 1441px) {
  .contain-input{
    flex: 1;
  }
  .sub-about2-text:hover{
    transform: scale(1.07);
  }

  .description{
    justify-content: center;
  }
}